*{
    outline: 1px solid red;
}
.hero{
    background: url(../img/home.jpg)no-repeat;
    background-size: cover;
    height: 550px;
}
header{
    background-color:#f8f8f8;
}
header h2{
    font-size: 16px;
    margin-top: 12px;
}
header nav{
    margin-top: 13px;
}
header li a{
    color: black;
    margin-left: 20px;
}
.hero .caja{
    width: 660px;
    text-align: center;
    position: relative;
    top: 210px;
    left: 250px;
}
.hero h3{
    font-size: 36px;
    color: white;
}
.hero p{
    font-size: 14px;
    color: black;
}
.hero button{
    background-color:#337ab7;
    padding: 7px 17px 7px 17px;
    color: white;
    border-radius: 5px;
}
.contenido{
    height: 630px;
}
.contenido h1{
    text-align: center;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 40px;
}
.contenido h2{
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}
.relleno{
    background-color: #ffff00;
    height: 420px;
}
.relleno img{
    width: 550px;
    margin: 0;
    margin-top: 50px;
}
.relleno h1{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}
.relleno p{
    font-size: 15px;
    margin-top: 30px;
}
.relleno button{
    background-color:#337ab7;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 17px;
    opacity: .9;
}
.contacto{
    height: 600px;
}
.contacto img{
    width: 750px;
    background-size: cover;
    margin-top: 120px;
}
.contacto h2{
    margin-top: 80px;
    margin-left: 13px;
    margin-bottom: 20px;
}
.contacto ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contacto li{
    padding-bottom: 3px;
}
form{
    display:table-caption;
}
.contacto input{
background-size: cover;
    width: 360px;
    margin-top: 20px;
    border-radius: 4px;
    padding: 5px 0px 2px 7px;
}
.contacto #mensaje{

    padding-bottom: 120px;
    
}
.contacto button{
    background-color: #337ab7;
    color: white;
    margin-top: 10px;
    border-radius: 3px;
}
footer{
    background-color:#4497a3;
    height: 100px;
}
footer p{
    position: relative;
    top: 50px;
    left: 100px;
    color: white;
}
footer a{
    color:yellow;
}
@media screen and (max-width:920px){
    .container{
        width: 600px;
    }
   
    
}


@media screen and ( max-width:600px){
     
    .container{
        width: 100%;
    }
    .list-inline{
        display: none;
    }
    
    .col-md-6, .col-md-4, .col-md-7, col-md-5{
        width: 100%;
    }
    .block-form{
        margin: 0;
    }
    
    
}