*{
    outline: 1px solid red;
}
header a{
	color: #FFF;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
}
nav li a:hover, nav li a:focus{
	text-decoration: none;
	outline: none;
	background: #FFF;
}

#main-navigation
{
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul
{
	background: rgba(0,0,0,0.7);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
.hero{
    background: url(../img/home.jpg)no-repeat;
    background-size: cover;
    height: 550px;
}
header{
    background-image:url(../img/Fondos-13.gif);
}
header h2{
    font-size: 25px;
    margin-top: 12px;
    font-family: fantasy;
}
header nav{
    margin-top: 13px;
}
header li a{
    color: black;
    margin-left: 20px;
    background-color:rgba(238, 130, 238, 0.63);
    font-family: fantasy;
    font-size: 18px;
}

.hero h3{
    font-size: 36px;
    color: white;
    font-family: fantasy;
}
.carousel-caption{
    background-color:#3cbba4;
    
}
.hero p{
    font-size: 14px;
    color:white;
}
.hero button{
    background-image: url(../img/azul);
    background-color:#337ab7;
    padding: 7px 17px 7px 17px;
    color: white;
    border-radius: 5px;
}
.contenido h1{
    text-align: center;
    font-size: 24px;
    margin-top: 90px;
    margin-bottom: 40px;
}
.contenido h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
.relleno{
    background-color: #ffff00;
    margin-top: 40px;
}
.relleno img{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 40px;
}
.relleno h1{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}
.relleno p{
    font-size: 15px;
    margin-top: 30px;
}
.relleno button{
    background-image: url(../img/azul);
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 17px;
    margin-bottom: 30px;
}
.col-md-5{
    background-image: url(../img/sonrisa);
    
}
.contacto img{
    background-size: cover;
    margin-top: 120px;
}
.contacto h2{
    margin-top: 80px;
    margin-left: 13px;
    margin-bottom: 20px;
}
.contacto ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contacto li{
    padding-bottom: 3px;
}
form{
    display:table-caption;
    background-size: cover;
}
.contacto input{
    background-size: contain;
    margin-top: 20px;
    border-radius: 4px;
    padding: 5px 100px 2px 7px;
}


.contacto button{
    background-color: #337ab7;
    color: white;
    margin-top: 10px;
    border-radius: 3px;
}
footer{
    margin-top: 20px;
    background-color:#4497a3;
    height: 100px;
}
footer p{
    margin-left: 30px;
    padding-top: 20px;
    color: white;
}
footer a{
    color:yellow;
}



@media screen and ( max-width:990px){
     
    .container{
        width: 100%;
    }
   
    
    .hero .caja{
    } 
    
}
@media screen and ( max-width:800px){
     
    .contacto input{
        width: auto;
    }
}
@media screen and ( max-width:413px){
     
    footer p{
        position: relative;
        left: 20px;
    }
    
}